* {
  background-color: #000022;
}

.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
.submit-btn {
  background-color: #fca311;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin: auto;
  width: fit-content;
}
.weather_emoji {
  font-size: 70px;
  text-align: left;
}
.weather_temp {
  font-size: 70px;
  font-weight: 100;
  padding: 20px;
  color: #fff;
}

.weather_section {
  margin-top: 80px;
}

.heading-activity {
  font-weight: 300;
}

h2 {
  color: #fff;
  font-weight: 400;
}

.input-activity {
  background-color: #fff;
  border: none;
}

.header {
  background-color: #fca311;
  position: fixed;
  top: 0;
  height: 35px;
  width: 100%;
  margin: 0 auto 100px auto;
  text-align: center;
  padding-top: 10px;
  color: #000022;
  font-weight: 700;
  font-size: 1.3rem;
}
